<ion-header>
  <ion-toolbar color="headpart">

    <ion-buttons slot="start"  style="position: absolute;">
      <ion-menu-button color="white" style="zoom:1.2;"></ion-menu-button>
  </ion-buttons>


    <ion-title color="white"  class="ion-text-center" style="margin-top: -1px;">Master Updates
    
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center;">
    <img src="assets/imgs/master.png" style="height: 45%;width: 45%;">
    <ion-button round color="orangepart" (click)="getallmaster()">Get All Master</ion-button>
  </div>
  
  
</ion-content>

