
.scroll-content {
    background-color: #000 !important;
 }
 .swiper-pagination-bullet{
     background-color: #FFF !important;
 }
 .swiper-pagination-bullet.swiper-pagination-bullet-active{
     background-color: #115cad !important;
 }