
<ion-content  class="ion-padding">

  <div class="content">

    <div class="ion-align-items-center ion-justify-content-center" style="background:rgba(0,0,0,0.5);border-radius: 5px;margin-top:5%;">
      <div style="text-align: center;">
        <ion-slides #Slides *ngIf="!docImg">
          <ion-slide >
            <img src="assets/imgs/noImgs.png" style="width:80%;height:auto;border-radius:5px;margin-left:1%;margin-top:10%"/>
          </ion-slide>
        </ion-slides>
        <ion-slides *ngIf="docImg" pager>
          <ion-slide *ngFor="let addKYCDoc of addKYCDocs">
            <p class="imgdelete"><ion-icon name="trash" (click)="ImgRemove(addKYCDoc)"></ion-icon></p>
            <img src="{{addKYCDoc.url}}" style="width:80%;height:auto;border-radius:5px;margin-left:1%;margin-top:10%"/>
          </ion-slide>

        </ion-slides>

      </div>

      <div class="iconpart">
        <ion-grid color="headpart">

          <ion-row class="iconlist">
            <ion-col>
              <ion-icon (click)="closeModal()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
            </ion-col>

            <ion-col (click)="takekycdoc()">
              <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
            </ion-col>

            <!-- <ion-col (click)="openGallery()">
              <ion-icon ios="ios-folder" md="md-folder"></ion-icon>
            </ion-col> -->
          </ion-row>

        </ion-grid>
      </div>
    </div>

  </div>
</ion-content>


